{% extends 'base.html.twig' %}

{% block title %}New EmailTag{% endblock %}

{% block body %}
    <h1>Create new EmailTag</h1>

    {{ include('email_tag/_form.html.twig') }}

    <a href="{{ path('email_tag_index') }}">back to list</a>
{% endblock %}
