<form method="post" action="{{ path('email_log_delete', {'id': email_log.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ email_log.id) }}">
    <button class="btn">Delete</button>
</form>
