<form id="delete_form" method="post" action="{{ path('email_template_delete', {'id': email_template.id}) }}">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ email_template.id) }}">
    <button class="btn btn-outline-danger btn-sm m-1 btn-block"><i class="icon-bin"></i><span class="d-none d-lg-inline-block ml-2">Delete</span></button>
</form>

