{% extends 'base.html.twig' %}

{% block header_title %}
    <a class="btn-large" href="{{ path('email_template_show', {'id': email_template.id}) }}"><i class="icon-arrow-left52 mr-2"></i></a>
    Edit EmailTemplate #{{ email_template.id }}
{% endblock %}

{% block javascript %}
    <script src="{{ asset('global_assets/js/plugins/editors/ckeditor/ckeditor.js') }}"></script>
{% endblock %}

{% block body %}
    {{ include('email_template/_form.html.twig', {'button_label': 'Update'}) }}
{% endblock %}
