{% extends 'base.html.twig' %}

{% block title %}New EmailTemplate{% endblock %}

{% block body %}
    <h1>Create new EmailTemplate</h1>

    {{ include('email_template/_form.html.twig') }}

    <a href="{{ path('email_template_index') }}">back to list</a>
{% endblock %}
