<!-- Main navbar -->
<div class="navbar navbar-expand-md navbar-dark bg-indigo">
    <div class="navbar-brand">
        <a href="../full/index.html" class="d-inline-block">
            <img src="../../../../global_assets/images/logo_light.png" alt="">
        </a>
    </div>

    <div class="collapse navbar-collapse" id="navbar-mobile">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown dropdown-user">
                <a href="#" class="navbar-nav-link dropdown-toggle" data-toggle="dropdown">
                    <img src="../../../../global_assets/images/image.png" class="rounded-circle" alt="">
                    <span>Victoria</span>
                </a>

                <div class="dropdown-menu dropdown-menu-right">
                    <a href="#" class="dropdown-item"><i class="icon-user-plus"></i> My profile</a>
                    <a href="#" class="dropdown-item"><i class="icon-coins"></i> My balance</a>
                    <a href="#" class="dropdown-item"><i class="icon-comment-discussion"></i> Messages <span class="badge badge-pill bg-blue ml-auto">58</span></a>
                    <div class="dropdown-divider"></div>
                    <a href="#" class="dropdown-item"><i class="icon-cog5"></i> Account settings</a>
                    <a href="#" class="dropdown-item"><i class="icon-switch2"></i> Logout</a>
                </div>
            </li>
        </ul>
    </div>
</div>
<!-- /main navbar -->

<!-- Secondary navbar -->
<div class="navbar navbar-expand-md navbar-light navbar-static navbar-sticky">
    <div class="navbar-collapse collapse" id="navbar-navigation">
        <ul class="navbar-nav navbar-nav-highlight">
            <li class="nav-item">
                <a href="../full/index.html" class="navbar-nav-link">
                    <i class="icon-home4 mr-2"></i>
                    Dashboard
                </a>
            </li>
{#            <li class="nav-item nav-item-levels mega-menu-full">#}
{#                <a href="#" class="navbar-nav-link">#}
{#                    <i class="icon-make-group mr-2"></i>#}
{#                    Email Campaign#}
{#                </a>#}
{#            </li>#}
            <li class="nav-item nav-item-levels mega-menu-full">
                <a href="#" class="navbar-nav-link">
                    <i class="icon-make-group mr-2"></i>
                    Email
                </a>
            </li>
{#            <li class="nav-item nav-item-levels mega-menu-full">#}
{#                <a href="#" class="navbar-nav-link">#}
{#                    <i class="icon-make-group mr-2"></i>#}
{#                    Tags#}
{#                </a>#}
{#            </li>#}
            <li class="nav-item nav-item-levels mega-menu-full">
                <a href="#" class="navbar-nav-link">
                    <i class="icon-make-group mr-2"></i>
                    Email Log
                </a>
            </li>
        </ul>

        <ul class="navbar-nav navbar-nav-highlight ml-md-auto">
            <li class="nav-item dropdown">
                <a href="#" class="navbar-nav-link dropdown-toggle" data-toggle="dropdown">
                    <i class="icon-cog3"></i>
                    <span class="d-md-none ml-2">Dropdown</span>
                </a>

                <div class="dropdown-menu dropdown-menu-right">
                    <a href="#" class="dropdown-item"><i class="icon-user-lock"></i> Account security</a>
                    <a href="#" class="dropdown-item"><i class="icon-statistics"></i> Analytics</a>
                    <a href="#" class="dropdown-item"><i class="icon-accessibility"></i> Accessibility</a>
                    <div class="dropdown-divider"></div>
                    <a href="#" class="dropdown-item"><i class="icon-gear"></i> All settings</a>
                </div>
            </li>
        </ul>
    </div>
</div>
<!-- /secondary navbar -->

